#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define MOVE   1
#define NUM   2

/ {
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
    };

    behaviors {
        td_move: td_move {
            compatible = "zmk,behavior-tap-dance";
            // label = "LAYER_TAP_DANCE_MOVE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo MOVE>, <&to MOVE>;
        };

        td_num: td_num {
            compatible = "zmk,behavior-tap-dance";
            // label = "LAYER_TAP_DANCE_NUM";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo NUM>, <&to NUM>;
        };

        td_q_grave: td_q_grave {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp Q>, <&kp GRAVE>;
        };

        td_space_tab: td_space_tab {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SPACE>, <&kp TAB>;
        };

        td_minus_equal: td_minus_equal {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp MINUS>, <&kp EQUAL>;
        };

        td_lbkt_comma: td_lbkt_comma {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LBKT>, <&kp COMMA>;
        };

        td_rbkt_dot: td_rbkt_dot {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp RBKT>, <&kp DOT>;
        };
    };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &td_q_grave   &kp W        &kp E       &kp R           &kp T        &kp Y            &kp U          &kp I            &kp O        &kp P           &kp BSPC
        &kp A         &mt LCTRL S  &mt LALT D  &mt LGUI F      &kp G        &kp H            &mt RGUI J     &mt RALT K       &mt RCTRL L  &mt SEMI SQT
        &mt LSHIFT Z  &kp X        &kp C       &kp V           &kp B        &kp N            &kp M          &td_lbkt_comma   &td_rbkt_dot &mt RSHIFT FSLH
                      &td_move                 &kp A                      &td_space_tab                   &td_num
      >;
    };

    move_layer {
      label = "Move";
      display-name = "Move";
      bindings = <
        &studio_unlock &trans      &trans    &trans      &trans     &trans    &kp LS(LA(LEFT))  &kp UP    &kp LS(LA(RIGHT))  &trans  &trans
        &trans         &kp LCTRL   &kp LALT  &kp LGUI    &trans     &trans    &kp LEFT          &kp DOWN  &kp RIGHT          &trans
        &mt LSHIFT Z   &trans      &trans    &trans      &trans     &trans    &kp LA(LEFT)      &trans    &kp LA(RIGHT)      &trans
                       &to DEFAULT           &mt RET2 LSHIFT         &trans                      &trans
      >;
    };

    num_layer {
      label = "Numbers";
      display-name = "Numbers";
      bindings = <
        &kp N1      &kp N2   &kp N3     &kp 4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0     &td_minus_equal
        &kp EXCL    &kp AT   &kp HASH   &kp DLLR   &kp PRCNT   &kp CARET   &kp AMPS    &kp STAR    &kp LPAR    &kp RPAR
        &kp LSHIFT  &studio_unlock    &none      &none      &kp UNDER   &kp PLUS    &kp LBKT    &kp RBKT    &kp PIPE    &kp TILDE
                    &trans              &mt RET2 LSHIFT           &trans                  &to DEFAULT
      >;
    };

    extra1 {
        status = "reserved";
    };

    extra2 {
        status = "reserved";
    };
  };
};
