#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define MOVE   1
#define NUM   2

/ {
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_del {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp BSPC>;
        };

        combo_colon {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&kp SEMI>;
        };
    };

    behaviors {
        td_move: td_move {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo MOVE>, <&to MOVE>;
        };

        td_num: td_num {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo NUM>, <&to NUM>;
        };

        td_q_grave: td_q_grave {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp Q>, <&kp GRAVE>;
        };

        td_space_tab: td_space_tab {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SPACE>, <&kp TAB>;
        };

        td_minus_equal: td_minus_equal {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp MINUS>, <&kp EQUAL>;
        };
    };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &td_q_grave   &kp W        &kp E       &kp R           &kp T        &kp Y            &kp U          &kp I            &kp O        &kp P           &kp BSPC
        &kp A         &mt LCTRL S  &mt LALT D  &mt LGUI F      &kp G        &kp H            &mt RGUI J     &mt RALT K       &mt RCTRL L  &mt SEMI SQT
        &mt LSHIFT Z  &kp X        &kp C       &kp V           &kp B        &kp N            &kp M          &kp COMMA        &kp DOT      &mt RSHIFT SLASH
                      &td_num                 &kp RET                      &td_space_tab                    &td_move
      >;
    };

    move_layer {
      label = "Move";
      display-name = "Move";
      bindings = <
        &kp LS(LA(LEFT))    &kp UP      &kp LS(LA(RIGHT))    &none      &none     &none         &none     &none     &none       &none   &studio_unlock
        &kp LEFT            &kp DOWN    &kp RIGHT            &none      &none     &kp RSHIFT    &kp RGUI  &kp RALT  &kp RCTRL   &none
        &kp LA(LEFT)        &none       &kp LA(RIGHT)        &none      &none     &none         &none     &none     &none       &none
                            &td_num                          &trans              &trans      &to DEFAULT
      >;
    };

    num_layer {
      label = "Numbers";
      display-name = "Numbers";
      bindings = <
        &kp N1      &kp N2   &kp N3     &kp 4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0     &td_minus_equal
        &kp EXCL    &kp AT   &kp HASH   &kp DLLR   &kp PRCNT   &kp CARET   &kp AMPS    &kp STAR    &kp LPAR    &kp RPAR
        &kp LSHIFT  &none    &none      &none      &kp UNDER   &kp PLUS    &kp LBKT    &kp RBKT    &kp PIPE    &kp TILDE
                    &to DEFAULT              &trans           &trans                  &to DEFAULT
      >;
    };

    extra1 {
        status = "reserved";
    };

    extra2 {
        status = "reserved";
    };
  };
};
